.slider {
  --slider-size: 30px;
  --slider-margin-h: 0 calc(var(--slider-size) / 2);
  --slider-margin-v: calc(var(--slider-size) / 2) 0;

  min-height: var(--slider-size);

  * {
    box-sizing: border-box;
  }

  &__control-container {
    position: relative;
    height: var(--slider-size);
    margin: var(--slider-margin-h);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__base {
    --base-size: calc(var(--slider-size) / 2);
    height: var(--base-size);
    width: 100%;
    background-color: #444;
    border-radius: calc(var(--base-size) / 2);
  }

  &__handle {
    position: absolute;
    width: var(--slider-size);
    height: var(--slider-size);
    background-color: rgb(47, 163, 12);
    border-radius: 10px;
    border: calc(var(--slider-size) / 10) solid white;
    top: 0;
    left: 0%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  &__tip {
    --tip-margin: calc(100% + 5px);
    position: absolute;
    background-color: #aaa;
    border: 1px solid white;
    padding: 2px;
    border-radius: 2px;
    bottom: var(--tip-margin);
    transform: translateX(-50%);

    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      background-color: transparent;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid white;
      border-bottom-width: 0px;
    }
  }

  &__scale {
    height: var(--slider-size);
    margin: var(--slider-margin-h);
    position: relative;

    &-block {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      cursor: pointer;

      &::before {
        display: block;
        position: absolute;
        bottom: 110%;
        left: 50%;
        content: '';
        background-color: black;
        width: 2px;
        height: 10px;
      }

      &_unnumbered {
        z-index: -1;

        &::before {
          width: 1px;
        }

        span {
          visibility: hidden;
        }
      }

      &_invisible {
        z-index: -1;
        visibility: hidden;
      }
    }
  }

  /**********************
    SLIDER VERTICAL VIEW
    *********************/
  &_vertical {
    .slider {
      &__control-container {
        height: auto;
        width: var(--slider-size);
        margin: var(--slider-margin-v);
      }

      &__base {
        height: 100%;
        width: var(--base-size);
      }

      &__handle {
        transform: translateY(-50%);
      }

      &__tip {
        bottom: unset;
        right: var(--tip-margin);
        transform: translateY(-50%);

        &::after {
          top: 50%;
          left: 100%;
          transform: translateY(-50%), rotate(-90deg);
        }
      }

      &__scale {
        width: var(--slider-size);
        height: 100%;
        margin: var(--slider-margin-v);

        &-block {
          bottom: unset;
          right: 0;
          transform: translateY(-50%);

          &::before {
            bottom: unset;
            top: 50%;
            left: -50%;
            width: 10px;
            height: 2px;
          }

          &_unnumbered {
            &::before {
              height: 1px;
            }
          }
        }
      }
    }
  }
}
