.slider {
  --slider-size: 20px;
  --slider-half-size: calc(var(--slider-size) / 2);
  --slider-quarter-size: calc(var(--slider-half-size) / 2);
  --main-color: #4eb7a8;
  --base-color: #9e9e9e;
  --scale-text-color: #666;

  @media (prefers-color-scheme: dark) {
    --base-color: #666666;
    --scale-text-color: #999;
  }

  font-size: calc(var(--slider-size) * 0.6);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  min-height: var(--slider-size);

  * {
    box-sizing: border-box;
  }

  &__control-container {
    --value-1-position: 0%;
    --value-2-position: 100%;
    --thumb-thickness: var(--slider-size);
    position: relative;
    height: var(--slider-size);
    margin: 0 var(--slider-half-size);
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }

  &__base {
    --base-size: var(--slider-quarter-size);
    --base-border-radius: calc(var(--base-size) / 2);
    position: relative;
    height: var(--base-size);
    width: 100%;
    background-color: var(--base-color);
    border-radius: var(--base-border-radius);
    overflow: hidden;
    pointer-events: none;
  }

  &__thumb {
    position: absolute;
    min-width: 4px;
    max-width: var(--slider-size);
    width: var(--thumb-thickness);
    height: var(--slider-size);
    background-color: var(--main-color);
    border-radius: 10px;
    top: 0;
    transform: translateX(-50%);
    cursor: pointer;
    touch-action: none;

    &_1 {
      left: var(--value-1-position);
    }

    &_2 {
      left: var(--value-2-position);
    }
  }

  &__tip {
    --tip-margin: calc(100% + 4px);
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 2px 10px;
    border-radius: 5px;
    bottom: calc(var(--tip-margin) + 4px);
    transform: translateX(-50%);
    pointer-events: none;
    user-select: none;

    &::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 35%) rotate(45deg);
      border-radius: 2px;
      width: 8px;
      height: 8px;
      background: linear-gradient(
        to right bottom,
        transparent,
        transparent 50%,
        var(--main-color) 50%,
        var(--main-color)
      );
    }

    &_1 {
      left: var(--value-1-position);
    }

    &_2 {
      left: var(--value-2-position);
    }
  }

  &__scale {
    margin: 0 var(--slider-half-size);
    position: relative;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: var(--scale-block-position);
      height: fit-content;
      transform: translateX(-50%);

      &::before {
        content: '';
        background-color: var(--main-color);
        width: 2px;
        height: var(--slider-quarter-size);
      }

      &_unnumbered {
        z-index: -1;

        &::before {
          width: 1px;
          background-color: rgba(#777, 0.5);
        }

        .slider__scale-text {
          visibility: hidden;
        }
      }

      &_invisible {
        z-index: -1;
        visibility: hidden;
      }
    }

    &-text {
      color: var(--scale-text-color);
      cursor: pointer;
      user-select: none;
    }
  }

  &__progress {
    position: absolute;
    background-color: var(--main-color);
    height: var(--base-size);
    width: var(--value-1-position);
    left: 0%;
    top: unset;
    pointer-events: none;
  }

  /**********************
    SLIDER VERTICAL VIEW
    *********************/
  &_vertical {
    height: 100%;
    display: flex;
    width: var(--slider-size);

    .slider {

      &__control-container {
        height: calc(100% - var(--slider-size));
        width: var(--slider-size);
        margin: var(--slider-half-size) 0;
      }

      &__base {
        height: 100%;
        width: var(--base-size);
      }

      &__thumb {
        transform: translateY(-50%);
        min-height: 4px;
        max-height: var(--slider-size);
        height: var(--thumb-thickness);
        min-width: var(--slider-size);
        left: 0;

        &_1 {
          top: var(--value-1-position);
        }

        &_2 {
          top: var(--value-2-position);
        }
      }

      &__tip {
        bottom: unset;
        right: calc(var(--tip-margin) + 4px);
        transform: translateY(-50%);
        left: unset;

        &::after {
          top: 50%;
          right: 0;
          bottom: unset;
          left: unset;
          transform: translate(35%, -50%) rotate(-45deg);
        }

        &_1 {
          top: var(--value-1-position);
        }

        &_2 {
          top: var(--value-2-position);
        }
      }

      &__scale {
        height: calc(100% - var(--slider-size));
        margin: var(--slider-half-size) 0;

        &-block {
          top: var(--scale-block-position);
          left: 0;
          min-width: 100%;
          height: auto;
          transform: translateY(-50%);
          flex-direction: row;
          justify-content: flex-start;

          &::before {
            width: var(--slider-quarter-size);
            height: 2px;
          }

          &_unnumbered {
            &::before {
              height: 1px;
            }
          }
        }

        &-text {
          text-align: left;
          margin-left: calc(var(--slider-quarter-size) / 2);
        }
      }

      &__progress {
        height: var(--value-1-position);
        width: var(--base-size);
        top: 0%;
        left: unset;
      }
    }
  }

  /************************
      SLIDER INTERVAL VIEW
  ************************/
  &_interval {

    .slider__progress {
      width: calc(var(--value-2-position) - var(--value-1-position));
      left: var(--value-1-position);
      top: unset;
    }
  }

  &_interval.slider_vertical {

    .slider__progress {
      width: var(--base-size);
      left: unset;
      top: var(--value-1-position);
      height: calc(var(--value-2-position) - var(--value-1-position));
    }
  }
}
