html {
  --page-color: #333335;

  @media (prefers-color-scheme: light) {
    --page-color: #ddd;
  }
}

html, body {
  height: 100%;
}

.demo-page {
  box-sizing: border-box;
  background-color: var(--page-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 1% 0;

  &__slider-container {
    position: relative;
    width: 31%;
    height: 90%;
    max-height: 670px;
    display: flex;
    flex-direction: column;
    row-gap: 3%;

    > :first-child {
      flex-basis: 90%;
    }
  }
}
