html {
  --page-color: #ddd;

  @media (prefers-color-scheme: dark) {
    --page-color: #333335;
  }
}

html, body {
  height: 100%;
}

.demo-page {
  background-color: var(--page-color);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1%;

  &__slider-container {
    padding: 15px;
    position: relative;
    width: 100%;
    height: 90%;
    max-height: 840px;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 3%;

    > .slider {
      flex-basis: 70%;
    }

    > .panel {
      flex-basis: 30%;
    }
  }
}
